/* Root Container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Updated Font */
}

.header {
  width: 100%; /* Full width */
  text-align: center; /* Center the text horizontally */
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa; /* St. John's Red */
  padding: 20px 0;
  position: absolute; /* Fix the header to the top */
  top: 0; /* Align to the very top */
  left: 0; /* Ensure full alignment for the full width */
  z-index: 10; /* Make sure it appears above other elements */
  
}

/* Responsive Container */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  .header {
    font-size: 1.8rem;
  }
}

