absl-py==2.1.0
aiohttp==3.9.5
annotated-types==0.7.0
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.1
dataclasses-json==0.6.7
decouple==0.0.7
Django==5.0.4
django-cors-headers==4.5.0
djangorestframework==3.15.2
et-xmlfile==1.1.0
exchange_calendars==4.5.8
findspark==2.0.1
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.0
h5py==3.12.1
inflection==0.5.1
jiter==0.6.1
jsonpatch==1.33
jsonpointer==2.1
keras==3.6.0
korean-lunar-calendar==0.3.1
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.13
langchain-openai==0.2.3
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.137
libclang==18.1.1
marshmallow==3.23.0
metakernel==0.30.2
ml-dtypes==0.4.1
munkres==1.1.4
namex==0.0.8
openai==1.52.2
openpyxl==3.0.10
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.10
packaging==24.1
pandas_market_calendars==4.4.2
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
ply==3.11
protobuf==3.20.3
psycopg2-binary==2.9.10
pyaml==24.4.0
pyasn1-modules==0.2.8
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyluach==2.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
scikit-optimize==0.10.1
spylon==0.3.0
spylon-kernel==0.4.1
sqlparse==0.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tiktoken==0.8.0
typing-inspect==0.9.0
typing_extensions==4.12.2
webencodings==0.5.1
xgboost==2.0.3
